app/all_border_dataset_2000/
app/curated_border_dataset_cache/
.idea
.git
app/__pycache__/
app/bccaas_api/
app/bccaas_engine/
app/enimda/
all_border_dataset_2000.zip
all_border_dataset_2000_annotations.zip
all_border_dataset_2000_annotations/
all_border_dataset_2000_annotations_split/
cnn/model_weights*.pth
cnn/__pycache__/
.vscode
*.jpg
*.JPG
*.png
*.PNG
.ipynb_checkpoints/*
*.ipnyb