app/all_border_dataset_2000/
app/curated_border_dataset_cache/
.idea
.git
app/__pycache__/
app/bccaas_api/
app/bccaas_engine/
app/enimda/
app/all_border_dataset_2000.zip
app/all_border_dataset_2000_annotations.zip
app/all_border_dataset_2000_annotations/
app/all_border_dataset_2000_annotations_split/
cnn/model_weights.pth
cnn/__pycache__/
.vscode